.main-chat
  .main-chat__group-info
    .main-chat__group-info-name
      = @group.name
    = link_to 'Edit', edit_group_path(@group), class: "edit-btn"
    .main-chat__group-left__bottom 
      Member :
      - @group.users.each do |user|
        = user.name
  .main-chat__message-list
    = render @messages
    .main-chat__message-list__namedate
      .main-chat__message-list__name 
      .main-chat__message-list__date 
    .main-chat__message-list__content
  .main-chat__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'